#banner {
    background: url("images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 16em 0em 14em;
    text-align: center;
}
    #banner .container{
        position: absolute;
        top: 20%;
        
    }
    .text{
        position: relative;
        left: 10%; 
    }
    #banner h2 {
        color: #ffffff;
        font-size: 3em;
        line-height: 1em;
        margin: 0 0 0.2em 0;
        padding: 0;
    }

    #banner p {
        font-size: 1.5em;
        margin: 0.5em 0 0 0;
    }

    #banner .actions {
        margin: 3em 0 0 0;
    }

    #banner .button {
        position: relative;
        background-color: transparent;
        border: 1px solid #ffffff;
        font-weight: 300;
        margin-left: 0;
        padding-right: 10%;
        padding-inline: 20%;
        left: 20%;
    }
    .container .divi h3{
        position: relative;
        background-color: transparent;
        border: 1px solid #ffffff;
        font-weight: 300;
        margin-left: 0;
        padding-right: 10%;
        padding-inline: 20%;
        left: 20%;
    }

        #banner .button:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }